<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Euro Trip</title>
    <script src="/assets/js/app.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
  </head>
  <body>
    <h1> Euro Trip</h1>

    {{{body}}}
  </body>
</html>
